//Colors
$color-primary: #3ca2a2;
$color-primary-dark:#2e7c7c; 
$color-primary-light: #4fd6d6;
$color-secondary: #92c7a3;
$color-secondary-dark: #739e81; 
$color-secondary-light: #b2f0c6;
$color-tertiary: #215a6d;
$color-tertiary-dark: #143843; 
$color-tertiary-light: #43b0d4;
$color-main-text: #292929;
$color-dark: #2d2d29;
$color-light: #dfece6;
$color-neutral: #797979;
$white: #fff;
$black: #000;

//Fonts
$font-main-text: Sans-serif;

//Responsive breakpoints
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px